version: "3.8"

services:
  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes
    networks:
      - banking-network

  account-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: banking-account-service
    ports:
      - "8080:8080"
    depends_on:
      - redis
    environment:
      SPRING_DATA_REDIS_HOST: redis
      SPRING_DATA_REDIS_PORT: 6379
      SPRING_PROFILES_ACTIVE: dev
      SERVER_SERVLET_CONTEXT_PATH: /api/accountservice
      URL_CORE: http://account-service:8080/api/core-simulation/v1/gateway
    networks:
      - banking-network

networks:
  banking-network:
    driver: bridge
